:root {
    --border-color: #8dc58d;
    --gap: 1rem; 
    --gap-large: 3rem; 
    --input-font-size: 24px;
}

html, body, input {
    font-family: monospace;
}

h1 {
    font-size: 4rem;
    padding-bottom: var(--gap); 
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.background {
    margin: 2rem;
    height: 100vh;
    /* background: rgb(229,247,229);
    background: linear-gradient(147deg, #EEFCEE 0%, #E4FFEF 100%); */
    
}

.header {
    padding: 3rem;
}

.flex-center {
      display: flex;
      justify-content: center;
}
.inner {
    position: static;
    padding: 0;

}
.btn {
    border: none;
    margin: 1.2rem;
    padding: 1rem 0;
    font-size: 22px;
    color: white;
    background: rgb(29,101,79);
    background: linear-gradient(90deg, rgba(29,101,79,1) 0%, rgba(51,128,144,1) 100%);
    padding: 1rem;
    
}

.form-row  {
    margin:  0 1.2rem ;
}
.form-wrapper {
    margin:  1.2rem 0;
}

.form-wrapper textarea {
    width: -webkit-fill-available;
    border: 3px solid var(--border-color);
    
    padding: .2rem;
    margin-bottom: 2rem;
}

label {
    display: block;
    font-size: 16px;
    color: #9b9b9b;
    margin-bottom: .4rem;
    font-weight: 500;
    padding-bottom: var(--gap);
}

select, input {
    margin-bottom: var(--gap-large);
}

select, textarea {
    font-size: var(--input-font-size);
}

.input-time {
    border: none;
    border-bottom: 3px solid var(--border-color);
    color: rgb(56, 56, 56);
    vertical-align: middle;
    padding: 0.5em 1em;
    border-radius: 4px;
    width: -webkit-fill-available;
    font-size: var(--input-font-size);

}

.form-control {
    border: none;
    background-color: transparent;
    border-bottom: 3px solid var(--border-color);
    display: block;
    width: -webkit-fill-available;
    height: 2.6rem;
    font-size: 20px;
}
.form-control:hover {
    background-color: rgba(128, 128, 128, 0.1);
}
::placeholder {
    font-size: var(--input-font-size);
    font-weight: 100;
    color: #444242;
    font-weight: 100;
}

.form-title {
    margin: auto 2%;
    font-weight: 300;
    
}
.form-large-ft {
    color: #2A2A2A;
    padding: 1.4rem 0;
    font-size: 30px;
    font-weight: 500;
}
.form-med-ft {
    color: #2A2A2A;
    font-size: 16px;
    line-height: 1.4rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 720px) {
    .background {
        padding: 2rem 6rem;
    }

}

@media screen and (min-width: 1024px) {
    .form-title {
        margin: 0;
        width: 40%;
        padding: 0 6rem;
    }
    .flex-responsive {
        display: flex;
        justify-content: space-around;
    }
    .inner {
        width: 50%;

    }
}